.divider {
    width: 90%;
    border: 1px solid lightgray;
}

footer {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: auto;*/

    background-color: lightblue;
    padding-bottom: 40px;
    margin-bottom: 0;
}

footer table {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

footer table td {
    width: 25%;
}

footer h5{
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

footer table ul{
    padding-left: 0;
    list-style: none;
}

footer table a {
    color: #4a4a4a;
    line-height: 1.5em;
    outline: none;
    text-decoration: none;
}

footer table a:hover {
    color: #d63465;
    text-decoration: underline;
}