@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body {
    background-color: #fffcfc;
}

.order-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 8%;
    color: #4a4a4a;
    font-family: 'Ubuntu', sans-serif;
}

.order-container h1{
    margin: 0 0 1em 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: #5E6977;
}

table{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    border-collapse: collapse;
    border-bottom: 1px solid #E1E8EE;
}

table tr td {
    padding: 0;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

.hat{
    height: 2em;
    border-bottom: 1px solid #E1E8EE;
    border-top: 1px solid #E1E8EE;
    font-size: 0.9em;
    color: #5E6977;
}

.shopping-cart-item img{
    width: 120px;
    vertical-align: middle;
    background: #fffcfc;
}

.description span {
    font-size: 1em;
    line-height: 1.2em;
}

.description span:last-child {
    color: #86939E;
}

.quantity > div,
.quantity > p {
    display: inline-block;
    vertical-align: middle;
}

.quantity > p {
    width: 3em;
    margin: 0;
}

/* Раздел кнопки оформить заказ */

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}

.order-accept-block {
    width: 90%;
    margin: 0 auto;
    text-align: right;

}

.order-accept-block p {
    font-size: 1.5em;
    color: #4a4a4a;
}

.order-accept-block p:nth-child(3) {
    font-size: 2em;
}

.order-accept-block p:nth-child(3) span {
    font-weight: bold;
    color: #d63465;
}

.button {
    margin: 25px 0 25px 25px;
    padding: 0.6em 1em;
    font-size: 1.2em;
    border-width: 0;
    color: aliceblue;
    background: #d63465;
}

.button:hover {
    background-color: #ee497a;
}

.button:active {
    background-color:#941a3e;
}