.body {
    background-size: cover; /* Масштабирует картинку сохраняя пропорции */
}
.over {
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; top: 0; bottom: 0; /* Отступы от краев браузера */
}
.notFound {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2em;
    padding-top: 8%;
    color: #2864f0;
}
