/* Styles for header*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 30px;
}

.dropdown {
    font-size: 0.8em;
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropMenuOn {
    display: block;
    position: absolute;
    top: 90%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropMenuOff {
    display: none;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
}

.RightMenu {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    width: 14%;
    justify-content: space-between;
}

.UserPart {
    font-size: calc(10px + 1vmin);
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panelSite {
    z-index: 100;
    width: 100%;
    background-color: black;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    position: fixed;
}

.burgerMenu {
    width: 10%;
}

.burgerMenu img {
    width: 64px;
    height: 64px;
}

.MainBody {
    display: flex;
    align-items: stretch;
    height: 50vh;
}
.logo{
    width: 2em;
    padding-right: 15px;
}
.nameFirm {
    width:15%;
    display: flex;
    align-items: center;
    font-size: 2em;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width:15%;
    height: 10vh;
}
.category:hover{
    background: white;
    color: black;
}
.category_menuOn{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10vh;
    background: white;
    left: 0px;
    width: 100%;
}
.category_menuOff{
    display: none;
}
.category_menuOn ul{
     display: flex;
     justify-content: space-around;
     width: 100%;
     color: black;
}
.category_menuOn ul>li:hover{
   background: black;
    color: white;
    height: 100%;
}
.searchMenu {
    width: 60%;
    display: flex;
    align-items: center;
    height: 8vh;
}
.AppBlur{
    filter: grayscale(0.5) blur(5px) ;
    z-index: 1;
}
.searchMenu input {
    width: 65%;
    height: 2em;
    outline: none;
    border-radius: 20px 0 0 20px;
    border: none;
    padding: 0 20px;
}

.searchMenu button {
    height: 2em;
    border: none;
    border-radius: 0 20px 20px 0;
    background: white;
}

button img {
    width: 25px;
}

.trash {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    margin-left: 24px;
}

.trash img {
    width: 42px;
    height: 42px;
}

.profile {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    color: black;
}

/*end stylef for header*/