.container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
}

#main {
    width: 50%;
}

.infoUser {
    width: 70%;
}

.panel-body {
    display: flex;
    flex-direction: row;
}

.text-center {
    width: 30%;
    flex-direction: column;
    text-align: center;
}

.infoUser {
    text-align: center;

}

.infoUser tr {
    border-top: 1px solid rgba(128, 128, 128, 0.36);
    height: 50px;

}

.infoUser tr td:first-child {
    background: rgba(178, 178, 178, 0.25);
    width: 30%;
}

.infoUser tr td {
    background: white;
}

.text-center img {
    width: 50%;

    border-radius: 50%;
}

.history-orders{
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 700px; /* Ширина блока */
    height: 250px; /* Высота блока */
    padding: 8px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}
.button {
    margin: 25px 0 25px 25px;
    padding: 0.6em 1em;
    font-size: 1.2em;
    border-width: 0;
    color: aliceblue;
    background: #d63465;
}
.save {
    display: none;
}
.button:hover {
    background-color: #ee497a;
}

.button:active {
    background-color:#941a3e;
}
table{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    border-collapse: collapse;
    border-bottom: 1px solid #E1E8EE;
}

table tr td {
    padding: 0;
}

.table_blur {
    /*background: #f5ffff;*/
    border-collapse: collapse;
    /*text-align: left;*/
}
.table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}
.table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    /*background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));*/
}
.input {
    width: 450px;
    font-size: 18px;
    padding: 6px 0 4px 10px;
    margin:4px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
.table_blur tr:nth-child(1) {
    background: #e1e4e4;
}
.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}

::-webkit-scrollbar { width: 5px; height: 3px;}
/*::-webkit-scrollbar-button {  background-color: #666; }*/
/*::-webkit-scrollbar-track {  background-color: #999;}*/
/*::-webkit-scrollbar-track-piece { background-color: #ffffff;}*/
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
/*::-webkit-scrollbar-corner { background-color: #999;}*/
/*::-webkit-resizer { background-color: #666;}*/