.container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
}

#main {
    width: 50%;
}

.infoUser {
    width: 50%;
}

.panel-body {
    display: flex;
    flex-direction: row;
}

.text-center {
    width: 30%;
 flex-direction: column;
 text-align: center;
}
.infoUser{
    text-align: center;
}
.text-center img {
    width: 50%;

    border-radius: 50%;
}