.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.side_icon {
    width: 37px;
    height: 37px;
    color: white;
}

.UserPart {
    font-size: calc(10px + 1vmin);
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panelSite {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MainPart {
    min-width: 85vw;
}

.MainBody {
    display: flex;
    align-items: stretch;
    height: 50vh;
}

.dropMenuOn {
    margin-left: 5%;
}

.dropMenuOff {
    display: none;

}


.errorMessage{
    margin:0;
   font-size: 0.8em;
}

.MainContent {

    margin-top: 1%;
    width: 90vw;
    align-items: center;
}

.leftBar {
    align-items: flex-start;
    width: 10vw;
    max-height: 79vh;
    border: #282c34 2px solid;

}

li {
    list-style-type: none;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
