/*  fonts  */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Common styles */
:root{
    --link-hover-color: #d63465;
    --font-color: #4a4a4a;
}


body {
    font-family: 'Roboto', sans-serif;
    background: rgba(230, 230, 230, 0.48);
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*Main Page*/
.errorMessage {
    margin: 0;
    font-size: 0.8em;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin-top: 2%;
}

.item_catalog {}

.item_add {
    font-size: 1vw;
    width: 5vw;
    height: 30px;
    background: rgba(214, 52, 101, 0.67);
    border: none;
    border-radius: 20px 20px 20px 20px;
    margin-top: auto;
    margin-bottom: 15px;
    color: white;
}

.card_catalog {
    background: white;
    box-shadow: 2px 2px 5px 2px #bfbfbf;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 20vw;
    margin: 1%;
}

.item_name {
    font-size: 1vw;
    height: 2vw;
    margin: 0;
}

.item_img {
    width: 8vw;
    height: 8vw;
}

.item_price {
    font-size: 1vw;
}

.item_discr {}

.MainContent {
    margin: 5% auto;
    width: 90vw;
    /*align-items: center;*/
}

li {
    list-style-type: none;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*  Styles for RegisterPage.js  */
.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-family: "Ubuntu", serif;
}
.testApi{
    width: 50%;
}
.testApi input{
    width: 100%;
}
.registrationForm label::before {
    content: "";
    display: block;
    height: 6px;
}

.registrationForm button {
    width: 150px;
    padding: 5px;
    margin: 25px;
    margin-left: 0;
    font-size: 1.2em;
    color: aliceblue;
    border: 2px solid forestgreen;
    background: darkolivegreen;
}

.registrationForm button:hover {
    color: aliceblue;
    border: 2px solid forestgreen;
    background-color: mediumseagreen;
}

.registrationForm input[type="text"],
.registrationForm input[type="password"],
.registrationForm input[type="email"] {
    padding: 5px 10px;
    font-size: 1.2em;
    color: darkslateblue;
    border-width: 2px;
    border-style: solid;
}

.badFieldValue {
    border-color: red;
}

.validFieldValue {
    border-color: green;
}

